parameters:
    debug: false

    languages:
        - {label: English, synonym: English, locale: en_US, short_label: en}
        - {label: Русский, synonym: Russian, locale: ru_RU, short_label: ru}
    default_lang: en
    fallback_lang: en

    db_class: R2\DBAL\PDOMySQL
    db_params:
        -
            host:         localhost
            username:     root
            password:     ~
            dbname:       test
            prefix:       test_
            socket:       ~
            persistent:   false
#
# Basic Auth
#
    #provider_class: R2\Security\BasicAuthProvider
    #provider_params:
    #    - R2\Model\User
    #    -
    #        - { id: 1, username: ryan,  password: ryanpass, group: 4 }
    #        - { id: 2, username: admin, password: kitten,   group: 1 }
    #        - { id: 3, username: mary,  password: ololo,    group: 2 }
#
# FluxBB Auth
#
    provider_class: R2\Security\FluxUserProvider
    provider_params:
        - "@entity_manager"
        - R2\Model\User
        -
            cookie_name:   'auth'
            cookie_domain: ''
            cookie_path:   '/'
            cookie_secure: 0
            cookie_seed:   'ChangeIt'

