services:
#
# Database Abstraction and Data Mapper
#
    db:
        class: "%db_class%"
        arguments: "%db_params%"

    entity_manager:
        class: R2\ORM\EntityManager
        arguments: [ "@db" ]
#
# Internatianalization
#
    i18n:
        class: R2\Translation\Translator
        arguments: ["@i18n_loader", "%fallback_lang%"]
        settings: { setLocale: ["%default_lang%"] }

    i18n_loader:
        class: R2\Application\LangLoader
        arguments: ["%root_dir%/translations", "%root_dir%/cache"]
#
# HTTP Request & Router
#
    request:
        class: R2\HTTP\Request

    router:
        class: R2\HTTP\Router
        arguments: ["%routes%"]
#
# Security
#
    user_provider:
        class: "%provider_class%"
        arguments: "%provider_params%"

    user:
        factory_service: "@user_provider"
        method: loadIdentifiedUser
#
# Templates Engine and its Extensions
#
    templating:
        class: R2\Templating\PhpEngine
        arguments:
            -
                template_dir: "%root_dir%/views"
                template_ext: ".html.php"
                extensions:
                    - "@tpl_standard_extension"
                    - "@tpl_routing_extension"

    tpl_standard_extension:
        class: R2\Templating\Extensions\Standard
        arguments: ["@user", "@i18n", "%languages%", "%default_lang%"]

    tpl_routing_extension:
        class: R2\Templating\Extensions\Routing
        arguments: ["@router", "@request"]
